# Printer Configuration

# Printer type
# Supported: usb, network
PRINTER_TYPE=usb

# USB Vendor ID (hexadecimal)
PRINTER_VENDOR_ID=0x04b8

# USB Product ID (hexadecimal)
PRINTER_PRODUCT_ID=0x0202

# Network printer address
PRINTER_ADDRESS=192.168.1.100

# Printer profile (e.g., TM-T88III, TM-T88II, POS-5890)
# See python-escpos documentation for supported profiles
PRINTER_PROFILE=TM-T88III

# Comma seperated CORS allowed origins. Use '*' to allow all origins.
CORS_ALLOWED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
